<div class="container">
  <div id="roulette-wheel" class="roulette-wheel">
    <img
      id="unicorn"
      class="unicorn"
      src="{{currentPointer.src}}"
      width="225px"
      height="{{currentPointer.height || '225px'}}"
      style="position: absolute; left: 200px; top: 133px;"
    />
    <span
      *ngFor="let name of namesArray"
      [ngClass]="name.class"
      [style.left.px]="name.xPos"
      [style.top.px]="name.yPos"
      [style.transform]="name.transform"
    >
      {{ name.value }}
    </span>
    <div class="hidden wheel-stop"></div>
  </div>
  <aside class="sidebar">
    <form id="add-name-form" class="form-inline">
      <mat-form-field>
        <textarea
          matInput
          ref-textarea
          name="names-input"
          class="names-input"
          [(ngModel)]="namesInput"
          (keyup.enter)="addNames()"
          (input)="addNames()"
          placeholder="Names"
          rows="23"
          cols="30"
        ></textarea>
      </mat-form-field>
      <br />
      <button class="spin-btn" mat-raised-button (click)="spinUnicorn($event)">Spin It!</button>
    </form>
  </aside>
  <audio
    class="hidden"
    id="finishsound"
    src="assets/magic-chime-01.mp3"
    controls
    preload="auto"
    autobuffer
  ></audio>
  <audio
    class="hidden"
    id="spinsound"
    src="assets/pedals.mp3"
    controls
    preload="auto"
    autobuffer
  ></audio>
</div>
